figure > img {
    width:100%;
}

figure {
    margin: 0px;
    padding: 0px;
}

/*
 * Custom Progress Bar
 * https://ocias.com/blog/unity-webgl-custom-progress-bar/
 */

div#loadingBox {
    width: 960px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}

div#bgBar {
    position: absolute;
    width: 200px;
    margin-left: -100px;
    left: 50%;
    height: 2px;
    display: block;
    background-color: #333;
}
div#progressBar {
    left: 50%;
    position: absolute;
    margin-left: -100px;
    width: 0px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
}
div#bgBar {
    border-radius: 2px;
}

p#loadingInfo {
    color: #666;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    font-family: "Monaco", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
    margin-top: 10px;
}


/*
 * Based off of Custom Button by Codrops
 * https://github.com/codrops/CreativeButtons
 */

/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
    color: #0e83cd;
    background: #fff;
    border: 3px solid #0e83cd;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
    color: #fff;
    background-color: #0e83cd;
}
